.Card{
    max-height: 310px;
    width: 300px;
    background-color: rgb(150, 150, 150);
    border-radius: 10px;
    color: black;
    margin-bottom: 3px;
}
.Card:hover{
    scale: 1.02;
}
.Image img {
    object-fit: cover;
}
img{
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.Title{
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.PriceRating{
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.Rating{
    height: 30px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    text-align: end;
}
.Price{
    height: 30px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.btn{
    height: 40px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(83, 83, 221);
    border: 0px;
}
.btn:active{
    border: 2px solid black;
}
.btn:hover{
    font-size: 15px;
    font-weight: bold;
    background-color: blue;
}


.AddQ{
    height: 30px;
    width: 30px;
    background-color: white;
    font-size: 20px;
    margin-right: 10px;
}
.QNo{
    text-align: center;
    line-height: 30px;
}
.Quantity{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.MinusQ{
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}